<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--数据库连接信息-->
    <add key="connectionstring" value="server=127.0.0.1;uid=root;pwd=123456;database=ssm;Charset=utf8" />
    <!--型号-->
    <add key="xinghao" value="1.2.3.4.5.6.7.8.9.10.11.12.13.14.15.16.17.18.19.20">
    </add>
    <!--种类-->
    <add key="zhonglei" value="白金.浅金.黑金.黑铜.哑黑.黑珍珠">
    </add>
    <!--颜色-->
    <add key="color" value="113#大红.951#白色.965#黑色">
    </add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
 
</configuration>